#__next {
  min-height: 100vh;
  @apply bg-gray-200;
}
#__next header {
  grid-area: header;
  z-index: 15;
}
#__next .nav-menu {
  z-index: 14;
}
@media (max-width: 768px) {
  #__next {
    grid-template-rows: minmax(auto, 80px) 1fr;
    grid-template-columns: 1fr;
  }
  #__next .nav-menu {
    z-index: 20;
  }
}

/**
 * @see https://css-tricks.com/perfect-full-page-background-image/
 * @see https://css-tricks.com/almanac/properties/b/background-blend-mode/
 */
.cover,
.cover-error {
  background-image: url('/images/chess-board.webp');
}
.cover-error {
  background-image: url('/images/spongebob.jpg');
  background-color: #aaa;
}

.max {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}
